<!DOCTYPE html>
<html lang="en">
    <head>
	<link rel="stylesheet" href="/static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<script src="https://use.fontawesome.com/8b3f8b7575.js"></script>
	<title>Boris Quiroz Q. - Senior Systems Engineer</title>
    </head>
    <body>
	<div class="title">
	    <h1>Boris Quiroz Q.</h1>
	    <h3>Senior Systems Engineer</h3>
	</div>
	<div class="content">
        <p><img src="https://avatars2.githubusercontent.com/u/537305?s=460&v=4" width="180px"> I'm a Senior Systems Engineer involved in the cloud, infrastructure, containers and security things. Sometines I do some coding using Python mostly, but also used Ruby in the past.<br></br>
	    I also have an AWS Certified SAA. My credential ID is <b>MGXS1HVKB1VEQX9L</b> and it's valid until March 2021.
	    </p>
	    <p>
	    Time to time, I spent my weekends doing something I like to call "Weekend Lab", where I study new technologies/tools/whatever using a "lab" approach. I try to document them as better as I can.
	    </p>
	
	</div>
	<div class="links">
	    <h2>Weekend Labs:</h2>
	    <p>
	    <ul>
            <li>20190330: <a href="https://docs.google.com/document/d/1cgai6ucH_Nr6lgtYtBlKDrjTcMWTK-QBSA-Yt-wiyVY/edit?usp=sharing">Kubernetes with Microk8s.</a></li>
            <li>20190622: <a href="https://docs.google.com/document/d/1nk6FyLvgxmJeWvGrMOGzmzA5tf6VAK92ekQ5XHQIqtw/edit?usp=sharing">HashiCorp Vault KV Secrets Engine v2.</a></li>
            <li>201912XX: <a href="https://github.com/boris/usd_clp">[Code] Display the price of USD in CLP.</a> <a href="https://dev.to/boris/using-yaml-to-manage-python-configurations-1j9c">More info.</a></li>
	    </ul>
	    </p>
	</div>

	<div class="footer">
	    <a href="mailto:borisquiroz@pm.me"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> <a href="https://github.com/boris"><i class="fa fa-github" aria-hidden="true"></i></a> <a href="https://www.linkedin.com/in/bquiroz/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> <i class="fa fa-btc" aria-hidden="true"></i>
	</div>

    </body>
</html>
