#!/bin/bash
SERVER="YOUR_SERVER_HERE"
USER="YOUR_USER_HERE"
WEBPATH="YOUR_PATH_HERE"
case "$1" in
  help)
    echo "Usage: ./deploy {check | build | run | new-post}"
    ;;
  new-post)
    echo "Details for new post:"
    echo -n "Title: "
    read title
    fixed=`echo $title | sed -e 's/ /-/g'`
    vim _posts/`date +%Y-%m-%d`-$fixed.md
    ;;
  check)
    echo "Files Pending to Commit: " > pending.commits
    git status --short |grep -v pending.commits >> pending.commits
    cat pending.commits ; rm pending.commits
    ;;
  build)
    jekyll build
    ;;
  run)
    read -p "Are you sure? [y/n] " 
    if [[ ! $REPLY =~ ^[Yy]$ ]]
    then
      echo "Aborting..."
      exit 0
    else
      rsync -avr --delete-after _site/ $USER@$SERVER:$WEBPATH
    fi

esac
